In [61]:
import pandas as pd
import requests
import sqlalchemy
import sqlite3


class GoogleSheetProcessor:
    def __init__(self, sheet_url1: str):
        self.sheet_url1 = sheet_url1
        self.spreadsheet_id = self.extract_spreadsheet_id(sheet_url1)
        self.sheet_id = self.extract_sheet_id(sheet_url1)
        self.csv_export_url = self.construct_csv_export_url()

    def extract_spreadsheet_id(self, url: str):
        return url.split('/d/')[1].split('/')[0]

    def extract_sheet_id(self, url: str):
        return url.split('gid=')[1]

    def construct_csv_export_url(self):
        return f"https://docs.google.com/spreadsheets/d/{self.spreadsheet_id}/export?format=csv&gid={self.sheet_id}"

    def download_csv(self, output_filename: str = 'temp_sheet.csv'):
        # Descarga el archivo CSV y lo guarda temporalmente
        response = requests.get(self.csv_export_url)
        response.raise_for_status()  # Asegurarse de que la solicitud fue exitosa
        with open(output_filename, 'wb') as f:
            f.write(response.content)
        return pd.read_csv(output_filename)

    def validate_no_duplicate_columns(self, df: pd.DataFrame):
        # Validar si existen columnas duplicadas en el DataFrame
        duplicate_columns = df.columns[df.columns.duplicated()]
        if not duplicate_columns.empty:
            raise ValueError(
                f"Columnas duplicadas encontradas: {duplicate_columns.tolist()}")

    def convertir_booleano_amef(self, df: pd.DataFrame, ini: int, end: int):
        """
        Convierte a tipo booleano las columnas en el rango dado, si no son ya booleanas.

        Parámetros:
        - df: DataFrame en el que se realizará la conversión.
        - ini: Índice de la columna inicial.
        - end: Índice de la columna final.

        Retorna:
        - DataFrame con las columnas convertidas a booleano.
        """
        # Iterar sobre las columnas en el rango especificado
        for col in df.columns[ini + 1:end]:
            # Verificar si la columna no es de tipo booleano
            if df[col].dtype != bool:
                # Convertir la columna a booleano
                df[col] = df[col].map(lambda x: True if str(
                    x).upper() == 'TRUE' else False)

        return df

    def load_data_from_postgres(
            self,
            db_url: str = 'postgresql://postgres:postgres@localhost/simyo',
            query: str = """
                SELECT
                    base."id",
                    "structure".tag,
                    locations.location_code,
                    "plans"."name",
                    base.fk_plan
                FROM
                    base
                    INNER JOIN
                    locations
                    ON
                        base.fk_location = locations."id"
                    INNER JOIN
                    "structure"
                    ON
                        base.fk_structure = "structure"."id"
                    LEFT JOIN
                    "plans"
                    ON
                        base.fk_plan = "plans"."id"
                """):
        """
        Conecta a la base de datos PostgreSQL, ejecuta la consulta SQL y devuelve un DataFrame.

        Parámetros:
        - db_url (str): URL de la base de datos PostgreSQL.
        - query (str): Consulta SQL a ejecutar.

        Retorna:
        - DataFrame con los datos obtenidos de la consulta.
        """
        # Crear un engine de SQLAlchemy para conectarse a la base de datos
        engine = sqlalchemy.create_engine(db_url)

        # Ejecutar la consulta y cargar los resultados en un DataFrame
        df = pd.read_sql_query(query, engine)

        # Establecer la columna 'id' como índice del DataFrame
        df.index = df['id'].values

        return df

    def process_dataframe(self, df: pd.DataFrame, columns_to_remove: list):

        # Si existen columnas con nombres duplicados, arrojar un error de columnas duplicadas
        if df.columns.duplicated().any():
            assert False, "Hay columnas duplicadas en el DataFrame df1"
        # Eliminar columnas innecesarias
        df = df.drop(columns=columns_to_remove, errors='ignore')

        # Eliminar filas donde 'TIPO' tenga valores 'Sistema' o 'Subsistema'
        df = df[~df['Tipo_equipo'].isin(['Sistema', 'Subsistema'])] # 

        # Filtrar filas donde la columna 'Plan' no sea nula
        df = df[df['Plan'].notna()]

        return df

    def create_output_dataframe(self, df: pd.DataFrame):
        # Crear un DataFrame de salida con columnas específicas
        # Iterar sobre las filas del dataframe
        df_salida = pd.DataFrame()
        for index, row in df.iterrows():
            # Buscar el índice de la columna 'AMEF'
            try:
                amef_index = df.columns.get_loc('AMEF')
            except KeyError:
                continue

            # Iterar a partir de la columna siguiente a 'AMEF'
            for col in df.columns[amef_index + 1:]:
                # print(col)
                if row[col] == True:  # Si el valor es True
                    # Adicionar una nueva fila al dataframe de salida
                    new_row = pd.DataFrame({
                        'tag': [row['Tag']],
                        'location_code': [col],
                        'plan': [row['Plan']]
                    })
                    df_salida = pd.concat(
                        [df_salida, new_row], ignore_index=True)
        return df_salida

    def load_data_from_db(self, query: str, db_path: str):
        # Cargar datos desde una base de datos SQLite
        conn = sqlite3.connect(db_path)
        df_db = pd.read_sql_query(query, conn)
        conn.close()
        return df_db

    def read_csv(self, filename="temp_sheet.csv", column_row=None, row_ini=None):
        # Lee el archivo CSV usando pandas
        # df = pd.DataFrame()
        df = pd.read_csv(filename, header=column_row,
                         skiprows=None, skipfooter=0)
        if column_row and row_ini is None:
            return df
        else:
            df.columns = df.loc[column_row, :].to_list()  # la fila 2 como fila
            df = df.loc[row_ini:, :]   # Obtener desde la fila 4 en adelante
            return df

    def merge_dataframes(self, df1: pd.DataFrame, df2: pd.DataFrame, on_columns: list):
        # Realizar el merge de dos DataFrames
        return pd.merge(df1, df2, on=on_columns, how='left', suffixes=('_left', '_right'))

    def process(
            self,
            df_input,
            columns_to_remove: list = ['RO', 'AM', 'AZ', 'MO', 'VE', 'BL', 'NA', 'CE', 'CA', 'PL']):
        # Método principal que engloba toda la lógica
        # df = self.download_csv()  # Descarga y carga del CSV
        # df = self.read_csv(filename=filename_input,column_row=2,row_ini=4)
        # print(filename_input)
        # df = pd.read_csv(filename_input)

        # self.validate_no_duplicate_columns(df)  # Validar columnas duplicadas
        # Método principal que engloba toda la lógica
        df = self.process_dataframe(df_input, columns_to_remove)  # Procesar el DataFrame
        # Es importante que tenga esta columna, es la columna indice a partir de la cual procesara
        amef_index = df.columns.get_loc('AMEF')
        end = len(df.columns)
        df = self.convertir_booleano_amef(df, amef_index, end)
        # Crear DataFrame de salida
        df_output = self.create_output_dataframe(df)

        cantidad_activos = df.iloc[:, amef_index + 1:].sum().sum()
        print(f"Existen {cantidad_activos} activos en la hoja de datos")
        if len(df_output) != cantidad_activos:
            assert False, "La cantidad de activos no corresponde con la salida"
        
        # Cargar datos desde la base de datos
        df_db = self.load_data_from_postgres()  
        # Merge de DataFrames
        df_result = self.merge_dataframes(df_output, df_db, ['tag', 'location_code'])  

        return df_output, df_db, df_result

In [62]:
descargar = False
url_alta_demanda ="https://docs.google.com/spreadsheets/d/1oUHkuKpHtuhMirNW6SvAQ4A0ns5PZs71iZ_WFXZHNn8/edit?gid=1115106678#gid=1115106678"
archivo_ad = "input/pad_equipos.csv"
url_baja_demanda = "https://docs.google.com/spreadsheets/d/1yOaSeqRBr1FW6tvFMi_Y-s4011cKBoyiWU5dTMlujrU/edit?gid=1115106678#gid=1115106678"
archivo_bd = "input/pbd_equipos.csv"

In [63]:
# Combinacion de dataframes
gs1 = GoogleSheetProcessor(url_baja_demanda)
if descargar : gs1.download_csv(archivo_ad)
df1 = pd.read_csv(archivo_ad,header=3,true_values=['True','TRUE'],false_values=['False',"FALSE",""])

In [64]:
gs2 = GoogleSheetProcessor (url_baja_demanda)
if descargar: gs2.download_csv(archivo_bd)
df2 = pd.read_csv(archivo_bd,header=3,true_values=['True','TRUE'],false_values=['False',"FALSE",""])

## Mix Dataframes

Generar un mix con los 2 planes de mantto

In [65]:
# Mezclar ambos dataframes
df_merged = pd.concat([df1,df2],ignore_index=True).reset_index(drop=True)
filename = "input/mix_planes_script2.csv"
df_merged.to_csv(filename,sep=';')  # Exportar archivo mezclado

In [66]:
df_output, df_db, df_result=gs1.process(df_merged)

Existen 12815 activos en la hoja de datos

# Funciones para base de datos
Funciones necesarias para base de datos

In [80]:
from sqlalchemy import create_engine, text
from sqlalchemy.engine.result import Result
import pandas as pd
import uuid
""" Para pasar a la base de datos"""

def format_dataframe(df:pd.DataFrame,tabla:str,usuario='user_mantenimiento', password='pass_M4ntenimient0',host='192.168.100.56', database='db_mantenimiento_test'):
    
    # Crear el engine de SQLAlchemy
    engine = create_engine(f'postgresql://{usuario}:{password}@{host}/{database}')
    # Leer la tabla original en un DataFrame de pandas
    df_origen = pd.read_sql_query(f"SELECT * FROM {tabla}", con=engine)

    # Renombrar la columna 'value' a 'name' si existe
    if 'value' in df.columns:
        df = df.rename(columns={'value': 'name'})

    # Si existe la columna 'uuid' en la tabla original, crear esa columna
    if 'uuid' in df_origen.columns:
        df['uuid'] = [str(uuid.uuid4()) for _ in range(len(df))]

    if 'is_active' in df_origen.columns:
        df['is_active'] = True        

    # Identificar las columnas que están en df_origen pero no en df
    missing_columns = [col for col in df_origen.columns if col not in df.columns]

    # Añadir las columnas faltantes a df con valores NaN
    for col in missing_columns:
        df[col] = None #pd.NA  # O usa otro valor predeterminado si es necesario

    # Añadir columnas comunes
    df['id'] = df.index +1 if df.index[0] ==0 else df.index
    df['created_by'] = 1
    df['updated_by'] = 1
    df['created_at'] = pd.Timestamp.now()
    df['updated_at'] = pd.Timestamp.now()
    # Validar que las columnas de df y df_origen sean iguales
    columnas_df = set(df.columns)
    columnas_df_origen = set(df_origen.columns)
    
    # Si las columnas no son iguales, lanzar un error
    assert columnas_df == columnas_df_origen, f"Las columnas no coinciden. Columnas faltantes: {columnas_df_origen - columnas_df} en df y {columnas_df - columnas_df_origen} en df_origen"        
        
    return df


def actualizar_tabla_postgres(df: pd.DataFrame, tabla: str, columna_id: str,
                              usuario='user_mantenimiento', password='pass_M4ntenimient0', 
                              host='192.168.100.56', database='db_mantenimiento_test'):    
    # Reemplazar NaN por None (que en SQL es equivalente a NULL)
    df = df.where(pd.notnull(df), None)
    # Crear el engine de SQLAlchemy
    engine = create_engine(f'postgresql://{usuario}:{password}@{host}/{database}')
        
    # Eliminar todos los registros de la tabla
    with engine.connect() as connection:
        #connection.execute(text(f"DELETE FROM {tabla};"))
        connection.execute(text(f"DELETE FROM {tabla} CASCADE;"))
        connection.commit()

    # Insertar los nuevos datos en la tabla
    df.to_sql(tabla, con=engine, if_exists='append', index=False)  # Solo append en tablas con relaciones    

    # Obtener el valor máximo de la columna 'id'
    with engine.connect() as connection:
        result = connection.execute(text(f"SELECT MAX({columna_id}) FROM {tabla};"))
        max_id = result.scalar() or 0  # Si no hay registros, usar 0

    # Obtener el nombre de la secuencia asociada a la columna 'id'
    with engine.connect() as connection:
        result = connection.execute(text(f"SELECT pg_get_serial_sequence('{tabla}', '{columna_id}');"))
        id_secuencia = result.scalar()

    # Reiniciar el valor de la secuencia si se obtiene la secuencia asociada
    with engine.connect() as connection:
        if id_secuencia:
            connection.execute(text(f"ALTER SEQUENCE {id_secuencia} RESTART WITH {max_id + 1};"))
            connection.commit()
            print(f'Se reinició el índice {id_secuencia} en {max_id + 1}')

# Ejemplo de uso:
## actualizar_tabla_postgres(df_plan, 'plans', 'id')
def obtener_registros( tabla,  usuario='user_mantenimiento', password='pass_M4ntenimient0', host='192.168.100.56', database='db_mantenimiento_test',columna_ids=[]):
    """
    Realiza un SELECT * en una tabla especificada de la base de datos y retorna un DataFrame con los resultados.
    """
    # Crear el engine de SQLAlchemy
    engine = create_engine(f'postgresql://{usuario}:{password}@{host}/{database}')
    
    with engine.connect() as connection:
        # Ejecutar la sentencia SQL para obtener los registros
        result = connection.execute(text(f'select * from {tabla}'))        
        # Convertir los resultados en un DataFrame
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
        #df.index = df['index']
        df.index = df['id']
    return df if not columna_ids or len(columna_ids) == 0 else df[columna_ids]
    
def buscarIndice(df: pd.DataFrame, valor:str, columna_id='value'):
        # Verificar si el valor está en la columna_id especificada
        """
        Busca un valor en la columna especificada del DataFrame.
        Si el valor de búsqueda es nulo o si no se encuentra, retorna el mismo valor de búsqueda.
        """
        # Validar si el valor de búsqueda es nulo        
            
        if pd.isna(valor):
            return None #pd.NA    
        
        #fkc_priority tiene el valor "BAJA " con espacio al final, eliminar el ultimo espacio Se añade a la funcion buscarIndice
        valor = valor.upper().strip()

        resultado = df[df[columna_id].str.upper() == valor]    
        # Si no encuentra el valor, retornar el mismo valor
        if resultado.empty:
            return valor
        else:
            return int(resultado.index[0])

def ejecutar_query(query, usuario='user_mantenimiento', password='pass_M4ntenimient0', host='192.168.100.56', database='db_mantenimiento_test'):
    """
    Ejecuta una consulta SQL y devuelve el resultado en un DataFrame si la consulta devuelve filas.
    """
    # Crear el engine de SQLAlchemy
    engine = create_engine(f'postgresql://{usuario}:{password}@{host}/{database}')
    
    with engine.connect() as connection:
        # Ejecutar la consulta
        result = connection.execute(text(query))
        connection.commit()
        
        # Verificar si la consulta devuelve filas
        if result.returns_rows:
            # Obtener los resultados en un DataFrame
            df = pd.DataFrame(result.fetchall(), columns=result.keys())
            return df
        else:
            # Si no devuelve filas, solo confirmar la ejecución
            return None

    return result
def eliminar_registros(tabla,usuario='user_mantenimiento', password='pass_M4ntenimient0', host= 'localhost', database='db_mantenimiento_test'):
    """
    Elimina todos los registros de una tabla especificada en la base de datos.    
    """
    # Crear el engine de SQLAlchemy
    engine = create_engine(f'postgresql://{usuario}:{password}@{host}/{database}')
    
    with engine.connect() as connection:
        # Ejecutar la sentencia SQL para eliminar todos los registros
        connection.execute(text(f"DELETE FROM {tabla};"))
        connection.commit()  # Confirmar los cambios

def __actualizar_tabla_postgres(df:pd.DataFrame , tabla:str, columna_id:str , usuario='user_mantenimiento', password='pass_M4ntenimient0', host= 'localhost', database='db_mantenimiento_test'):
    # Crear el engine de SQLAlchemy
    engine = create_engine(f'postgresql://{usuario}:{password}@{host}/{database}')

    # Usar pd.read_sql_query con una conexión
        # Leer la tabla en un DataFrame de pandas
    df_origen = ejecutar_query(f"SELECT * FROM {tabla}")

    
    # Renombrar la columna_id 'value' a 'name' si existe
    if 'value' in df.columns:
        df = df.rename(columns={'value': 'name'})
    
    # Si existe la columna_id uuid en la tabla original, crear esa columna_id
    if 'uuid' in df_origen.columns:
        df['uuid'] = [str(uuid.uuid4()) for _ in range(len(df))]
    
    if 'is_active' in df_origen.columns:
        df['is_active'] = True


    # Identificar las columna_ids que están en df pero no en df_origen
    missing_columns = [col for col in df_origen.columns if col not in df.columns]

    # Añadir las columna_ids faltantes a df con valores NaN
    for col in missing_columns:
        df[col] = None #pd.NA  # O usa otro valor predeterminado si es necesario

    # Añadir las columna_ids comunes en las tablas
    df['id'] = df.index
    
    df['created_by'] = 1
    df['updated_by'] = 1
    df['created_at'] = pd.Timestamp.now()
    df['updated_at'] = pd.Timestamp.now()   

    # Eliminar todos los registros de la tabla
    with engine.connect() as connection:
        connection.execute(text(f"DELETE FROM {tabla};"))
        #connection.commit()
    
    # Insertar nuevos datos con pandas to_sql
    df.to_sql(tabla, con= engine, if_exists='replace', index=False)

    # Obtener el valor máximo de la columna_id 'id'
    with engine.connect() as connection:
        result = connection.execute(text(f"SELECT MAX({columna_id}) FROM {tabla};"))
        max_id = result.scalar() or 0  # Si no hay registros, usar 0

    
    # Obtener el nombre de la secuencia asociada a la columna_id 'id'
    with engine.connect() as connection:
        result = connection.execute(text(f"""
            SELECT pg_get_serial_sequence('{tabla}', '{columna_id}');
        """))
        id_secuencia = result.scalar()  # Obtener el nombre de la secuencia
    
        
    # Reiniciar el valor de la secuencia
    with engine.connect() as connection:
        # Si se tienen 
        if id_secuencia : connection.execute(text(f"ALTER SEQUENCE {id_secuencia} RESTART WITH {max_id + 1};"))


def update_plans_table(df,tabla, columna_id, usuario='user_mantenimiento', password='pass_M4ntenimient0', host= 'localhost', database='db_mantenimiento_test' ):
    # Crear el engine de SQLAlchemy
    engine = create_engine(f'postgresql://{usuario}:{password}@{host}/{database}')

    # Leer la tabla en un DataFrame de pandas
    df = pd.read_sql(f"SELECT * FROM {tabla}", engine)

    # Renombrar columna_id 'value' a 'name' si existe
    if 'value' in df.columns:
        df = df.rename(columns={'value': 'name'})

    # Identificar las columna_ids que están en df pero no en df
    missing_columns = [col for col in df.columns if col not in df.columns]

    # Añadir las columna_ids faltantes a df con valores NaN
    for col in missing_columns:
        df[col] = None  # O usa otro valor predeterminado si es necesario

    # Añadir/actualizar las columna_ids necesarias en df
    df['id'] = df.index
    df['is_active'] = True
    df['created_by'] = 1
    df['updated_by'] = 1
    df['created_at'] = pd.Timestamp.now()
    df['updated_at'] = pd.Timestamp.now()

    # Obtener el nombre de la secuencia asociada a la columna_id 'id' en la tabla 'plans_test'
    with engine.connect() as connection:
        result = connection.execute(text(f"SELECT pg_get_serial_sequence('{tabla}', '{columna_id}');"))
        id_secuencia = result.scalar()  # Obtener el nombre de la secuencia

    # Eliminar todos los registros de la tabla
    with engine.connect() as connection:
        connection.execute(text(f"DELETE FROM {tabla};"))
        connection.commit()

    # Insertar nuevos datos con pandas to_sql
    df.to_sql(tabla, engine, if_exists='replace', index=False)

    # Obtener el valor máximo de la columna_id 'id'
    with engine.connect() as connection:
        result = connection.execute(text(f"SELECT MAX(id) FROM {tabla};"))
        max_id = result.scalar() or 0  # Si no hay registros, usar 0

    # Reiniciar el valor de la secuencia
    with engine.connect() as connection:
        connection.execute(text(f"ALTER SEQUENCE {id_secuencia} RESTART WITH {max_id + 1};"))
import psycopg2
def actualizar_fk_plan(df_base, usuario='user_mantenimiento', password='pass_M4ntenimient0', host= '192.168.100.56', database='db_mantenimiento_test'):
    """
    Actualiza la columna fk_plan en la tabla 'base' de PostgreSQL 
    utilizando los datos proporcionados en df_base.

    Parámetros:
    - df_base: DataFrame con las columnas 'id' y 'fk_plan' a actualizar.
    - host: Host de la base de datos.
    - database: Nombre de la base de datos.
    - user: Usuario para la conexión.
    - password: Contraseña para la conexión.
    """
    # Conexión a la base de datos PostgreSQL
    conn = psycopg2.connect(
        host=host,
        database=database,
        user=usuario,
        password=password,
        #options="-c client_encoding=LATIN1"  # Cambia 'LATIN1' por el encoding que utiliza tu base de datos si no es UTF-8

    )
    cursor = conn.cursor()

    # Recorre cada fila del DataFrame para generar la consulta de actualización
    for index, row in df_base.iterrows():
        try: 
            query = f"""
            UPDATE base
            SET fk_plan = {row['fk_plan']}
            WHERE id = {row['id']};
            """
            cursor.execute(query)
        except UnicodeDecodeError as e:
            print(f"Error en la fila {index}:{e}")
    # Confirmar los cambios
    conn.commit()

    # Cerrar la conexión
    cursor.close()
    conn.close()


# Ejemplo de uso
# Definir el DataFrame df con tus datos

In [68]:
df_plans = obtener_registros('plans')

In [69]:
df_result['fk_plan'] = df_result['plan'].apply(lambda x : buscarIndice(df_plans,x,'name'))

In [70]:
df_result.to_excel('RevisarPlanEquipo.xlsx')

In [71]:
# Filtrar el dataframe de datos invalidos.
df_result

,tag,location_code,plan,id,name,fk_plan
0,ACC-PRI-MEPA-MEL,RO-S2-M1,MOTOR ELECTRICO PRINCIPAL,19.0,None,1
1,ACC-PRI-MEPA-MEL,RO-S1-M1,MOTOR ELECTRICO PRINCIPAL,20.0,None,1
2,ACC-PRI-MEPA-MEL,AM-S1-M1,MOTOR ELECTRICO PRINCIPAL,21.0,None,1
3,ACC-PRI-MEPA-MEL,AM-S2-M1,MOTOR ELECTRICO PRINCIPAL,22.0,None,1
4,ACC-PRI-MEPA-MEL,AZ-S1-M1,MOTOR ELECTRICO PRINCIPAL,25.0,None,1
...,...,...,...,...,...,...
12840,SUM-GOL-GE,VE-S2-I1,GRUPO ELECTROGENO,19620.0,None,GRUPO ELECTROGENO
12841,SUM-GOL-GE,VE-EDF-EOB,GRUPO ELECTROGENO,19621.0,None,GRUPO ELECTROGENO
12842,SUM-GOL-GE,VE-EDF-EAO,GRUPO ELECTROGENO,19622.0,None,GRUPO ELECTROGENO
12843,SUM-GOL-GE,VE-EDF-ELB,GRUPO ELECTROGENO,19623.0,None,GRUPO ELECTROGENO
12844,SUM-GOL-GE,BL-EDF-EVI,GRUPO ELECTROGENO,NaN,NaN,GRUPO ELECTROGENO

In [72]:
obtener_registros('base')

,id,fk_structure,fk_asset,fk_location,fkc_priority,created_by,updated_by,deleted_by,created_at,updated_at,deleted_at,fk_plan
id,,,,,,,,,,,,
1,1,1,1,32.0,151.0,1,1,None,2023-09-21 17:06:13.830436-04:00,2023-09-21 17:06:13.830436-04:00,NaT,NaN
3,3,1,3,203.0,151.0,1,1,None,2023-09-21 17:06:13.830436-04:00,2023-09-21 17:06:13.830436-04:00,NaT,NaN
4,4,1,4,251.0,151.0,1,1,None,2023-09-21 17:06:13.830436-04:00,2023-09-21 17:06:13.830436-04:00,NaT,NaN
5,5,1,5,516.0,151.0,1,1,None,2023-09-21 17:06:13.830436-04:00,2023-09-21 17:06:13.830436-04:00,NaT,NaN
6,6,1,6,485.0,151.0,1,1,None,2023-09-21 17:06:13.830436-04:00,2023-09-21 17:06:13.830436-04:00,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
20135,20135,2071,20135,1506.0,NaN,7,7,None,2024-02-28 15:36:28.622000-04:00,2024-02-28 16:57:57.244000-04:00,2024-02-28 16:57:57.244000-04:00,NaN
20133,20133,2069,20133,1506.0,NaN,7,7,None,2024-02-28 15:35:20.797000-04:00,2024-02-28 16:58:06.384000-04:00,2024-02-28 16:58:06.384000-04:00,NaN
20308,20308,2612,20308,1335.0,NaN,7,7,None,2024-05-21 18:36:51.019000-04:00,2024-05-21 18:36:51.019000-04:00,NaT,NaN
126,126,7,126,2133.0,150.0,1,62,None,2023-09-21 17:06:13.830436-04:00,2024-10-08 15:09:46.735000-04:00,NaT,5.0
20311,20311,2,20311,NaN,NaN,62,62,None,2024-10-09 10:50:06.778000-04:00,2024-10-09 10:50:06.778000-04:00,NaT,NaN

In [73]:
df_base = df_result[['id','fk_plan']]

In [74]:
# Filtrar instancias solo numeros o float
df_base = df_base[df_base['fk_plan'].apply(lambda x: isinstance(x, (int, float)) and not pd.isnull(x))]
# Filtrar instancias que no encontraron id
df_base = df_base[df_base['id'].notnull()]
# Convertir la columna 'id' de float a entero, omitiendo los valores nulos
df_base['id'] = df_base['id'].fillna(0).astype(int)

In [75]:
# Conteo de valores nulos
df_base.isnull().value_counts()

id     fk_plan
False  False      10660
Name: count, dtype: int64

In [76]:
df_base.to_excel("df_base.xlsx")

In [81]:
# Actualizar la tabla 'base' en la base de datos con la información proporcionada 
actualizar_fk_plan(df_base)

In [54]:
''' ## Script 2
# https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html
import warnings
import pandas as pd
import ipywidgets as widgets
from ipywidgets import Button, Layout
from IPython.display import display

#warnings.simplefilter(action='ignore', category=FutureWarning)

lad = widgets.Textarea(value='https://docs.google.com/spreadsheets/d/1oUHkuKpHtuhMirNW6SvAQ4A0ns5PZs71iZ_WFXZHNn8/edit?gid=1115106678#gid=1115106678',placeholder='Plan Maestro LAD',description='Lineas Alta Demanda:',disabled=False,layout=Layout(width='70%',height="200px"))
lbd = widgets.Textarea(value='https://docs.google.com/spreadsheets/d/1yOaSeqRBr1FW6tvFMi_Y-s4011cKBoyiWU5dTMlujrU/edit?gid=1115106678#gid=1115106678',placeholder='Plan Maestro LBD',description='Lineas Baja Demanda:',disabled=False,layout=Layout(width='70%',height="200px"))
host = widgets.Text(value='192.168.100.50',placeholder='Host',description='Host:',disabled=False)
basedatos = widgets.Text(value='simyo2',placeholder='BaseDatos',description='BaseDatos',disabled=False)
usuario = widgets.Text(value='mantto',description='Usuario')
password = widgets.Password(value='Sistemas0',description='Password')
button1 = widgets.Button(description="Generar Archivo Excel",button_style='success',layout=Layout(width='20%'))
button2 = widgets.Button(description="Cargar en Base de datos",button_style='danger',layout=Layout(width='20%'))
output = widgets.Output()
salida = widgets.Text(value="output/Salida_Planes.xlsx",description="Nombre:",disabled=False)
accordion = widgets.Accordion(children=[ salida], titles=(['Archivo Salida']))
accordion1 = widgets.Accordion(children=[ usuario,password,host,basedatos], titles=('Usuario','Password','Host','Base de Datos'))

display(lad,lbd,host,usuario,password,accordion,button1, accordion1,button2,output)

def on_button_clicked(b):    
    # Combinacion de dataframes
    gs1 = GoogleSheetProcessor(lad.value) # ("https://docs.google.com/spreadsheets/d/1oUHkuKpHtuhMirNW6SvAQ4A0ns5PZs71iZ_WFXZHNn8/edit?gid=1115106678#gid=1115106678")
    archivo = "input/pad_planes.csv"
    #gs1.download_csv(archivo)
    df1 = pd.read_csv(archivo,header=3,true_values=['True','TRUE'],false_values=['False',"FALSE",""])


    gs2 = GoogleSheetProcessor (lbd.value) #("https://docs.google.com/spreadsheets/d/1yOaSeqRBr1FW6tvFMi_Y-s4011cKBoyiWU5dTMlujrU/edit?gid=1115106678#gid=1115106678")
    archivo = "input/pbd_planes.csv"
    #gs2.download_csv(archivo)
    df2 = pd.read_csv(archivo,header=3,true_values=['True','TRUE'],false_values=['False',"FALSE",""])

    df_merged = pd.concat([df1,df2],ignore_index=True).reset_index(drop=True)
    filename = "input/mix_planes.csv"
    df_merged.to_csv(filename,sep=';')

    df_output, df_db, df_result=gs1.process(df_merged)
    df_result.to_excel(salida.value)
    
    # gs1.save_to_excel(output_path=salida.value,valores=valores,regimen=regimen,filename="mix_plan.csv")        
    with output:
        print(f"Se Genera archivo excel {salida.value}")

button1.on_click(on_button_clicked)
button2.on_click(lambda _: print("Boton 2 accionado"))
#https://ipywidgets.readthedocs.io/en/7.6.3/examples/Widget%20Styling.html
## Script 2 '''

' ## Script 2\n# https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html\nimport warnings\nimport pandas as pd\nimport ipywidgets as widgets\nfrom ipywidgets import Button, Layout\nfrom IPython.display import display\n\n#warnings.simplefilter(action=\'ignore\', category=FutureWarning)\n\nlad = widgets.Textarea(value=\'https://docs.google.com/spreadsheets/d/1oUHkuKpHtuhMirNW6SvAQ4A0ns5PZs71iZ_WFXZHNn8/edit?gid=1115106678#gid=1115106678\',placeholder=\'Plan Maestro LAD\',description=\'Lineas Alta Demanda:\',disabled=False,layout=Layout(width=\'70%\',height="200px"))\nlbd = widgets.Textarea(value=\'https://docs.google.com/spreadsheets/d/1yOaSeqRBr1FW6tvFMi_Y-s4011cKBoyiWU5dTMlujrU/edit?gid=1115106678#gid=1115106678\',placeholder=\'Plan Maestro LBD\',description=\'Lineas Baja Demanda:\',disabled=False,layout=Layout(width=\'70%\',height="200px"))\nhost = widgets.Text(value=\'192.168.100.50\',placeholder=\'Host\',description=\'Host:\',disabled=False)\nbasedatos = widgets.Text(value=\'simyo2\',placeholder=\'BaseDatos\',description=\'BaseDatos\',disabled=False)\nusuario = widgets.Text(value=\'mantto\',description=\'Usuario\')\npassword = widgets.Password(value=\'Sistemas0\',description=\'Password\')\nbutton1 = widgets.Button(description="Generar Archivo Excel",button_style=\'success\',layout=Layout(width=\'20%\'))\nbutton2 = widgets.Button(description="Cargar en Base de datos",button_style=\'danger\',layout=Layout(width=\'20%\'))\noutput = widgets.Output()\nsalida = widgets.Text(value="output/Salida_Planes.xlsx",description="Nombre:",disabled=False)\naccordion = widgets.Accordion(children=[ salida], titles=([\'Archivo Salida\']))\naccordion1 = widgets.Accordion(children=[ usuario,password,host,basedatos], titles=(\'Usuario\',\'Password\',\'Host\',\'Base de Datos\'))\n\ndisplay(lad,lbd,host,usuario,password,accordion,button1, accordion1,button2,output)\n\ndef on_button_clicked(b):    \n    # Combinacion de dataframes\n    gs1 = GoogleSheetProcessor(lad.value) # ("https://docs.google.com/spreadsheets/d/1oUHkuKpHtuhMirNW6SvAQ4A0ns5PZs71iZ_WFXZHNn8/edit?gid=1115106678#gid=1115106678")\n    archivo = "input/pad_planes.csv"\n    #gs1.download_csv(archivo)\n    df1 = pd.read_csv(archivo,header=3,true_values=[\'True\',\'TRUE\'],false_values=[\'False\',"FALSE",""])\n\n\n    gs2 = GoogleSheetProcessor (lbd.value) #("https://docs.google.com/spreadsheets/d/1yOaSeqRBr1FW6tvFMi_Y-s4011cKBoyiWU5dTMlujrU/edit?gid=1115106678#gid=1115106678")\n    archivo = "input/pbd_planes.csv"\n    #gs2.download_csv(archivo)\n    df2 = pd.read_csv(archivo,header=3,true_values=[\'True\',\'TRUE\'],false_values=[\'False\',"FALSE",""])\n\n    df_merged = pd.concat([df1,df2],ignore_index=True).reset_index(drop=True)\n    filename = "input/mix_planes.csv"\n    df_merged.to_csv(filename,sep=\';\')\n\n    df_output, df_db, df_result=gs1.process(df_merged)\n    df_result.to_excel(salida.value)\n    \n    # gs1.save_to_excel(output_path=salida.value,valores=valores,regimen=regimen,filename="mix_plan.csv")        \n    with output:\n        print(f"Se Genera archivo excel {salida.value}")\n\nbutton1.on_click(on_button_clicked)\nbutton2.on_click(lambda _: print("Boton 2 accionado"))\n#https://ipywidgets.readthedocs.io/en/7.6.3/examples/Widget%20Styling.html\n## Script 2 '