# Script de migracion de datos

Este programa está diseñado para procesar datos de una hoja de cálculo de Google Sheets, descargándolos, transformándolos y guardándolos en un archivo Excel. La clase principal, GoogleSheetProcessor, maneja todo el flujo de trabajo, desde la obtención de datos hasta su procesamiento y almacenamiento. A continuación se describe el funcionamiento detallado del programa.

## Funcionalidades Principales
1. Inicialización (```__init__```)
La clase se inicializa con la URL de una hoja de cálculo de Google Sheets. Durante la inicialización, se extraen los identificadores del archivo y de la hoja específica, y se construye la URL para exportar la hoja en formato CSV.

### Atributos:

sheet_url: URL de la hoja de cálculo de Google Sheets.
spreadsheet_id: ID único de la hoja de cálculo.
sheet_id: ID único de la hoja dentro de la hoja de cálculo.
csv_export_url: URL para exportar la hoja en formato CSV.

### Diccionarios predefinidos:

valores: Diccionario que asocia códigos con valores numéricos.
regimen: Diccionario que asocia códigos con sus unidades de medida correspondientes.

2. Extracción de Identificadores
extract_spreadsheet_id(url): Extrae el ID de la hoja de cálculo desde la URL.
extract_sheet_id(url): Extrae el ID de la hoja específica desde la URL.
3. Construcción de la URL de Exportación
construct_csv_export_url(): Construye la URL que permite descargar la hoja de cálculo en formato CSV.
4. Descarga de la Hoja en CSV
download_csv(output_filename='temp_sheet.csv'): Descarga la hoja de cálculo en formato CSV y la guarda con un nombre de archivo especificado (por defecto, temp_sheet.csv).
5. Procesamiento de Datos
process_data(filename="temp_sheet.csv", valores="", regimen=""):
Carga el archivo CSV y realiza una serie de transformaciones y filtrados en los datos, como la conversión de valores, la asignación de unidades, y la reestructuración del DataFrame.
Comprueba que las claves de los diccionarios valores y regimen coinciden, lanzando un AssertionError si no es así.
Filtra los datos para excluir planes y mantener solo las columnas relevantes.
Realiza transformaciones en el DataFrame para preparar la información que se almacenará en Excel.
Retorna los DataFrames df_plan, df_action, df_speciality y filtered_data.
6. Guardar Resultados en Excel
save_to_excel(output_path="Salida.xlsx", filename="mix_plan.csv", valores="", regimen=""):
Llama al método process_data para obtener los DataFrames procesados.
Guarda los DataFrames resultantes en un archivo Excel con hojas separadas para acciones, planes, especialidades y actividades filtradas.
7. Funciones Auxiliares
get_unique(df: pd.DataFrame, column: str): Genera un DataFrame con valores únicos de una columna específica, ajustando los índices.
buscarIndice(df: pd.DataFrame, valor, columna='value'): Busca el índice de un valor específico en un DataFrame y lo retorna como un entero.
Uso del Programa
Inicializar la Clase:

```
processor = GoogleSheetProcessor(sheet_url="https://docs.google.com/spreadsheets/d/.../edit#gid=...")
```

Descargar y Leer CSV:

```
processor.download_csv("datos.csv")
processor.read_csv("datos.csv")
```

Procesar Datos:
```
df_plan, df_action, df_speciality, filtered_data = processor.process_data(filename="datos.csv")
```

Guardar los Resultados en Excel:

```
processor.save_to_excel(output_path="Resultados.xlsx")
```

Este programa es útil para automatizar la descarga y procesamiento de datos desde Google Sheets, permitiendo la preparación de datos en un formato listo para análisis o almacenamiento posterior.

In [241]:
import pandas as pd
import requests

class GoogleSheetProcessor:
    def __init__(self, sheet_url:str):
        self.sheet_url = sheet_url
        self.spreadsheet_id = self.extract_spreadsheet_id(sheet_url)
        self.sheet_id = self.extract_sheet_id(sheet_url)
        self.csv_export_url = self.construct_csv_export_url()

        # Diccionarios originales
        self.valores = {
            "D": 1, "S": 1, "M": 5, "MC": 1, "2M": 2, "T": 3, "4M": 4, "SE": 6,
            "8M": 8, "A": 1, "1.5A": 18, "2A": 2, "3A": 3, "4A": 4, "5A": 5,
            "6A": 6, "8A": 8, "10A": 10, "1000": 1000, "6000": 6000, "22500": 22500,
            "40000": 40000, "55000": 55000
        }

        self.regimen = {
            "D": 'dia', "S": 'semana', "M": 'semana', "MC": 'mes', "2M": 'mes', "T": 'mes',
            "4M": 'mes', "SE": 'mes', "8M": 'mes', "A": 'Año', "1.5A": 'mes', "2A": 'Año',
            "3A": 'Año', "4A": 'Año', "5A": 'Año', "6A": 'Año', "8A": 'Año', "10A": 'Año',
            "1000": 'horas', "6000": 'horas', "22500": 'horas', "40000": 'horas', "55000": 'horas'
        }

    def extract_spreadsheet_id(self, url):
        return url.split('/d/')[1].split('/')[0]

    def extract_sheet_id(self, url):
        return url.split('gid=')[1]

    def construct_csv_export_url(self):
        return f"https://docs.google.com/spreadsheets/d/{self.spreadsheet_id}/export?format=csv&gid={self.sheet_id}"

    def download_csv(self, output_filename='temp_sheet.csv'):
        # Descarga el archivo CSV y lo guarda temporalmente
        response = requests.get(self.csv_export_url)
        response.raise_for_status()  # Asegurarse de que la solicitud fue exitosa
        with open(output_filename, 'wb') as f:
            f.write(response.content)
        return output_filename
    def get_unique(self, df: pd.DataFrame, column: str):
        """
        Obtiene un DataFrame con valores únicos de la columna 'Column', con índices ajustados.

        Returns:
        pd.DataFrame: Un DataFrame con valores únicos de la columna 'Column' y un índice ajustado.
        """
        df[column] = df[column].str.strip()
        df = df[df[column].notnull()]
        df_unique = pd.DataFrame(df[column].unique(), columns=['value'])
        df_unique.index = df_unique.index + 1
        return df_unique
    def buscarIndice(self, df:pd.DataFrame, valor,columna='value'):
        return int (df[df[columna]==valor].index[0])


    def read_csv(self, filename="temp_sheet.csv"):
        # Lee el archivo CSV usando pandas
        self.df = pd.read_csv(filename)
        self.df.columns = self.df.loc[2, :].to_list()  # la fila 2 como fila
        self.df = self.df.loc[4:, :]   # Obtener desde la fila 4 en adelante
        return self.df

    def process_data(self,filename = "temp_sheet.csv",valores="", regimen=""):        
        df = pd.DataFrame()
        df = pd.read_csv(filename)

        if valores == "":valores = self.valores
        
        if regimen == "":regimen = self.regimen
        
        if valores.keys() != regimen.keys():
            raise AssertionError(f"Las claves no coinciden: {valores.keys()} != {regimen.keys()}")

        #self.df = df.copy(deep=True)

        # Realiza el procesamiento necesario
        # Este es un lugar para incluir toda la lógica de procesamiento
        
        # Suponiendo que el procesamiento produce 'filtered_data' y otros DataFrames
        df_plan = pd.DataFrame()  # Placeholder
        df_action = pd.DataFrame()  # Placeholder
        df_speciality = pd.DataFrame()  # Placeholder
        filtered_data = pd.DataFrame()  # Placeholder        
        print(valores)
        ## convertir a booleano
        df[list(valores.keys())] = df[valores.keys()].applymap(lambda x: True if x == 'TRUE' else False)
        # Obtener la unidades
        parametros = self.regimen
        df['unidad'] = df.apply(lambda row: next((parametros[key] for key in parametros.keys() if key in row and row[key] == True), None), axis=1)
        # Obtener los valores
        parametros = self.valores
        df['valor'] = df.apply(lambda row: next((parametros[key] for key in parametros.keys() if key in row and row[key] == True), None), axis=1)
        # Filtrar las columnas necesarias solamente

        # Quitar planes
        df = df[df['Tipo']!= 'Plan']

        # Mantener solo las columnas necesarias
        columns = ['Plan','Accion','Trabajo','Actividad','Tipo','Parada','Relevancia','Especialidad','valor','unidad']
        df = df[columns]
        # Crear la nueva columna fk_activity que tendra relaciones con las actividades padre
        df['fk_activity']= None
        df['fkc_regime']= None

        # renombrar los nombres de las columnas
        nuevos_nombres = {
            'Plan': 'fk_plan',
            'Accion': 'fk_action',
            'Actividad': 'name',
            'Tipo': 'fkc_activity_type',
            'Relevancia': 'fkc_priority',
            'Especialidad': 'fk_specialty',
            'valor': 'time_interval_value',
            'unidad': 'fk_periodicity_unit',
            'Parada': 'stoppage',
        }
        df.rename(columns=nuevos_nombres, inplace=True)
                # Mantener las columnas del excel en el orden indicado
        columnas_excel = ['fk_activity','fk_plan','fk_action','name','fkc_activity_type','fkc_priority','fk_specialty','fkc_regime','stoppage','time_interval_value','fk_periodicity_unit'] 

        df = df[columnas_excel]
        df_plan = self.get_unique(df,"fk_plan")
        df_action = self.get_unique(df,"fk_action")
        df_speciality = self.get_unique(df,"fk_specialty")
        #df_activity_type = self.get_unique(df,"fkc_activity_type")
        #df_regime = self.get_unique(df,"fkc_regime")

        # Filter the data
        #df = df_raw.copy(deep=True)
        filtered_data = df[(df['fkc_activity_type'] == 'Actividad') | (df['fkc_activity_type'] == 'Tarea')]

        # Add fk_activity column
        filtered_data['fk_activity'] = None

        # Set fk_activity for Tareas based on their parent Actividad
        parent_index = None
        for i, row in filtered_data.iterrows():
            if row['fkc_activity_type'] == 'Actividad':
                parent_index = i
            elif row['fkc_activity_type'] == 'Tarea':
                filtered_data.at[i, 'fk_activity'] = parent_index
        #filtered_data

        filtered_data['fk_plan']= filtered_data['fk_plan'].apply(lambda x: self.buscarIndice(df_plan,x)) 


        return df_plan, df_action, df_speciality, filtered_data


    def save_to_excel(self, output_path="Salida.xlsx",filename="mix_plan.csv",valores="",regimen=""):        
        df_plan, df_action, df_speciality, filtered_data = self.process_data(filename=filename,valores=valores,regimen=regimen)  
        with pd.ExcelWriter(output_path) as writer:
            df_action.to_excel(writer, sheet_name='Acciones')
            df_plan.to_excel(writer, sheet_name='Plan')
            df_speciality.to_excel(writer, sheet_name='Especialidad')
            filtered_data.to_excel(writer, sheet_name='Actividades')

In [242]:
# Combinacion de dataframes
gs1 = GoogleSheetProcessor("https://docs.google.com/spreadsheets/d/1oUHkuKpHtuhMirNW6SvAQ4A0ns5PZs71iZ_WFXZHNn8/edit?gid=1115106678#gid=1115106678")
archivo = "input/pad.csv"
#gs1.download_csv(archivo)
df1 = gs1.read_csv(archivo)
df1.to_csv("input/process_pad.csv")
df1.sample(5)

,Sist,Subs,Equ,Comp,Equipo,Componente,Parte,Tipo,Criticidad,Sigla,...,MO-S2-TO,MO-S2-CT,MO-S2-VH,MO-S2-LAA,MO-EDF-ESJ,MO-EDF-EFM1,MO-EDF-EFM2,MO-EDF-E6M,MO-S1-M1-TMC,MO-S2-M1-TMC
2643,SUM,GEED,GEE,NaN,GRUPO ELECTRÓGENO,NaN,NaN,Equipo,MEDIA,GEE,...,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,FALSE
770,LIN,TORR,T19,LOP19,NaN,LOOP 21,NaN,Componente,BAJA,LOP19,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
1557,LIN,VEH,V71,CBN,NaN,CABINA,NaN,Componente,BAJA,CBN,...,FALSE,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
2004,LIN,VEH,V135,MACP,NaN,MECANISMO DE APERTURA Y CIERRE DEPUERTAS,NaN,Componente,ALTA,MACP,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE
72,TCT,CT,CCHF,CHCT,NaN,ELEMENTOS DE CONTROL HIDRAULICO DEL CARRO TENSOR,NaN,Componente,MUY ALTA,CHCT,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE

In [243]:
# Si existen columnas con nombres duplicados, arrojar un error de columnas duplicadas
if df1.columns.duplicated().any():
    assert False, "Hay columnas duplicadas en el DataFrame df1"

In [244]:
df = df1.copy(deep=True)
columns_to_drop = ['RO', 'AM', 'AZ', 'MO']
df = df.drop(columns=columns_to_drop, errors='ignore')
# Eliminar las filas donde la columna 'TIPO' tenga los valores 'Sistema' o 'Subsistema'
df = df[~df['Tipo'].isin(['Sistema', 'Subsistema'])]
df['Tipo'].value_counts()

Tipo
Componente    2279
Equipo         395
Name: count, dtype: int64

In [245]:
# Filtrar el dataframe para que solo contenga filas donde la columna 'Plan' no sea nula
df = df[df['Plan'].notna()]
df['Tipo'].value_counts()

Tipo
Componente    1566
Equipo           4
Name: count, dtype: int64

In [246]:
def convertir_booleano(df:pd.DataFrame, ini , end ):
    # Convertir a tipo booleano las columnas a partir de la columna 'AMEF'
    try:
        # Aplicar la función lambda a cada columna a partir de 'AMEF'    
        for col in df.columns[ini + 1:end]:            
            df[col] = df[col].map(lambda x: True if x == 'TRUE' else False)
    except KeyError:
        print("Columna 'AMEF' no encontrada")
    return df

amef_index = df.columns.get_loc('AMEF')
end = len(df.columns)

df_boolean = convertir_booleano(df,amef_index,end)
df_boolean

,Sist,Subs,Equ,Comp,Equipo,Componente,Parte,Tipo,Criticidad,Sigla,...,MO-S2-TO,MO-S2-CT,MO-S2-VH,MO-S2-LAA,MO-EDF-ESJ,MO-EDF-EFM1,MO-EDF-EFM2,MO-EDF-E6M,MO-S1-M1-TMC,MO-S2-M1-TMC
6,ACC,PRI,MEPA,MEL,NaN,MOTOR ELECTRICO,NaN,Componente,MUY ALTA,MEL,...,False,False,False,False,False,False,False,False,False,False
7,ACC,PRI,MEPA,RM,NaN,REFRIGERACION DE MOTOR,NaN,Componente,MUY ALTA,RM,...,False,False,False,False,False,False,False,False,False,False
8,ACC,PRI,MEPA,ECM,NaN,ELEMENTOS DE CONTROL DEL MOTOR,NaN,Componente,MUY ALTA,ECM,...,False,False,False,False,False,False,False,False,False,False
10,ACC,PRI,MEPR,MELR,NaN,MOTOR ELECTRICO,NaN,Componente,ALTA,MELR,...,False,False,False,False,False,False,False,False,False,False
11,ACC,PRI,MEPR,RMR,NaN,REFRIGERACION DE MOTOR,NaN,Componente,ALTA,RMR,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2621,AVH,ELE,ARM,TB14,NaN,TABLERO 14,NaN,Componente,MEDIA,TB14,...,False,False,False,False,False,False,False,False,False,False
2630,SUM,GESE,GE1,NaN,GRUPO ELECTRÓGENO 1,NaN,NaN,Equipo,ALTA,GE1,...,False,False,False,False,False,False,False,False,False,False
2636,SUM,GESE,GE2,NaN,GRUPO ELECTRÓGENO 2,NaN,NaN,Equipo,ALTA,GE2,...,False,False,False,False,False,False,False,False,False,False
2643,SUM,GEED,GEE,NaN,GRUPO ELECTRÓGENO,NaN,NaN,Equipo,MEDIA,GEE,...,False,False,False,False,False,True,True,False,False,False
2650,SUM,GOL,GE,NaN,GRUPO ELECTRÓGENO,NaN,NaN,Equipo,MEDIA,GE,...,False,False,False,False,False,False,False,False,False,False

In [247]:
import pandas as pd

# Crear un dataframe vacío para almacenar los resultados
df_salida = pd.DataFrame(columns=['Tag', 'Location','Plan', ])

# Iterar sobre las filas del dataframe
for index, row in df_boolean.iterrows():
    # Buscar el índice de la columna 'AMEF'
    try:
        amef_index = df_boolean.columns.get_loc('AMEF')
    except KeyError:
        continue
    
    # Iterar a partir de la columna siguiente a 'AMEF'
    for col in df_boolean.columns[amef_index + 1:]:
        #print(col)
        if row[col] == True:  # Si el valor es True
            # Adicionar una nueva fila al dataframe de salida
            new_row = pd.DataFrame({
                'Tag': [row['Tag']],
                'Location': [col],
                'Plan': [row['Plan']]                
            })
            df_salida = pd.concat([df_salida, new_row], ignore_index=True)

# Mostrar las primeras filas del dataframe de salida
df_salida.head()

                Tag  Location                        Plan
0  ACC-PRI-MEPA-MEL  RO-S2-M1  MOTOR ELECTRICO PRINCIPAL
1  ACC-PRI-MEPA-MEL  RO-S1-M1  MOTOR ELECTRICO PRINCIPAL
2  ACC-PRI-MEPA-MEL  AM-S1-M1  MOTOR ELECTRICO PRINCIPAL
3  ACC-PRI-MEPA-MEL  AM-S2-M1  MOTOR ELECTRICO PRINCIPAL
4  ACC-PRI-MEPA-MEL  AZ-S1-M1  MOTOR ELECTRICO PRINCIPAL

In [248]:
# convertir en booleano
#df.iloc[:, amef_index + 1:] = df.iloc[:, amef_index + 1:].astype(bool)
# Sumar la cantidad de valores verdaderos que existen
cantidad_activos = df.iloc[:, amef_index + 1:].sum().sum()
print(f"Existen {cantidad_activos} activos en la hoja de datos")

if len(df_salida) != cantidad_activos:
    assert False, "La cantidad de activos no corresponde con la salida"

Existen 5410 activos en la hoja de datos

In [254]:
# Conectar con la base de datos en postgresql, donde se encuentran la lista de activos

import psycopg2
import pandas as pd

# Establecer la conexión con la base de datos
conn = psycopg2.connect(
    dbname="simyo",
    user="postgres",
    password="postgres",
    host="localhost"
)

# Crear un cursor
cur = conn.cursor()

# Ejecutar la consulta para obtener todos los datos de la tabla 'base'
cur.execute("SELECT * FROM base")

# Obtener los nombres de las columnas
colnames = [desc[0] for desc in cur.description]

# Fetch all rows from the executed query
rows = cur.fetchall()

# Cerrar el cursor y la conexión
cur.close()
conn.close()

# Crear un DataFrame con los datos obtenidos
df = pd.DataFrame(rows, columns=colnames)
pd.read_sql_

# Mostrar las primeras filas del DataFrame para verificar
df.sample()

,id,fk_structure,fk_asset,fk_location,fkc_priority,created_by,updated_by,deleted_by,created_at,updated_at,deleted_at,fk_plan
6817,6822,291,6822,1107.0,151.0,1,1,None,2023-09-21 17:06:13.830436-04:00,2023-09-21 17:06:13.830436-04:00,NaT,NaN

In [270]:
import pandas as pd
import sqlalchemy

# Crear un engine de SQLAlchemy para conectarse a la base de datos
engine = sqlalchemy.create_engine('postgresql://postgres:postgres@localhost/simyo')

# Cargar la tabla completa en un DataFrame
df = pd.read_sql_query('select * from base', engine)
#df = pd.read_sql_table('base', engine)


# Mostrar las primeras filas del DataFrame para verificar
# df.index = df['id'].values
df.head()

,id,fk_structure,fk_asset,fk_location,fkc_priority,created_by,updated_by,deleted_by,created_at,updated_at,deleted_at,fk_plan
0,1,1,1,32.0,151.0,1,1,None,2023-09-21 21:06:13.830436+00:00,2023-09-21 21:06:13.830436+00:00,NaT,NaN
1,2,1,2,4.0,151.0,1,1,None,2023-09-21 21:06:13.830436+00:00,2023-09-21 21:06:13.830436+00:00,NaT,NaN
2,3,1,3,203.0,151.0,1,1,None,2023-09-21 21:06:13.830436+00:00,2023-09-21 21:06:13.830436+00:00,NaT,NaN
3,4,1,4,251.0,151.0,1,1,None,2023-09-21 21:06:13.830436+00:00,2023-09-21 21:06:13.830436+00:00,NaT,NaN
4,5,1,5,516.0,151.0,1,1,None,2023-09-21 21:06:13.830436+00:00,2023-09-21 21:06:13.830436+00:00,NaT,NaN

In [ ]:
pd.read_sql_query("select * from base",con=engine)

In [43]:
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, Float, DateTime, UUID
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, sessionmaker
from sqlalchemy.dialects.postgresql import UUID as pgUUID
import uuid

# Crear el engine de SQLAlchemy para conectarse a la base de datos
engine = create_engine('postgresql://postgres:postgres@localhost/simyo')

# Crear la base declarativa
Base = declarative_base()

# Definir el modelo de la tabla locations
class Location(Base):
    __tablename__ = 'locations'
    
    id = Column(Integer, primary_key=True)
    uuid = Column(pgUUID(as_uuid=True), default=uuid.uuid4, unique=True, nullable=False)
    location = Column(String(100), nullable=False)
    fkc_location_type = Column(Integer)
    location_code = Column(String(50))
    sigla = Column(String(10))
    latitude = Column(Float)
    longitude = Column(Float)
    #fk_location = Column(Integer, ForeignKey('locations.id'))
    index = Column(Integer)
    color = Column(String(15))
    created_by = Column(Integer)
    updated_by = Column(Integer)
    deleted_by = Column(Integer)
    created_at = Column(DateTime, nullable=False)
    updated_at = Column(DateTime)
    deleted_at = Column(DateTime)

    # Relación inversa: Un Location puede tener muchas relaciones consigo misma
    #sub_locations = relationship('Location', remote_side=[id], backref='parent_location')
    
    # Relación inversa: Un Location puede estar en muchas bases
    #bases = relationship('BaseModel', back_populates='location')

# Definir el modelo de la tabla base
class BaseModel(Base):
    __tablename__ = 'base'
    
    id = Column(Integer, primary_key=True)
    fk_structure = Column(Integer)
    fk_asset = Column(Integer)
    fk_location = Column(Integer, ForeignKey('locations.id'))
    fkc_priority = Column(Integer)
    created_by = Column(Integer)
    updated_by = Column(Integer)
    deleted_by = Column(Integer)
    created_at = Column(DateTime)
    updated_at = Column(DateTime)
    deleted_at = Column(DateTime)
    fk_plan = Column(Integer)

    # Relación con Location: Cada BaseModel pertenece a un Location
    #location = relationship('Location', back_populates='bases')

# Crear una sesión
Session = sessionmaker(bind=engine)
session = Session()

C:\Users\mantenimiento\AppData\Local\Temp\ipykernel_9188\3895301226.py:11: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [44]:
from pydantic import BaseModel as PydanticBaseModel
from typing import List, Optional
from datetime import datetime
from uuid import UUID

# Modelo Pydantic para Location
class LocationSchema(PydanticBaseModel):
    id: int
    uuid: UUID
    location: str
    fkc_location_type: Optional[int] = None
    location_code: Optional[str] = None
    sigla: Optional[str] = None
    latitude: Optional[float] = None
    longitude: Optional[float] = None
    fk_location: Optional[int] = None
    index: Optional[int] = None
    color: Optional[str] = None
    created_by: Optional[int] = None
    updated_by: Optional[int] = None
    deleted_by: Optional[int] = None
    created_at: datetime
    updated_at: Optional[datetime] = None
    deleted_at: Optional[datetime] = None
    sub_locations: Optional[List['LocationSchema']] = []
    #bases: Optional[List['BaseSchema']] = []

    class Config:
        orm_mode = True
        from_attributes = True

# Modelo Pydantic para Base
class BaseSchema(PydanticBaseModel):
    id: int
    fk_structure: Optional[int] = None
    fk_asset: Optional[int] = None
    fk_location: Optional[int] = None
    fkc_priority: Optional[int] = None
    created_by: Optional[int] = None
    updated_by: Optional[int] = None
    deleted_by: Optional[int] = None
    created_at: Optional[datetime] = None
    updated_at: Optional[datetime] = None
    deleted_at: Optional[datetime] = None
    fk_plan: Optional[int] = None
    location: Optional[LocationSchema] = None

    class Config:
        orm_mode = True
        from_attributes = True

In [45]:
location_schema = LocationSchema.from_orm(location_instance)
location_json = location_schema.json(indent=2)
print(location_json)

NameError: name 'location_instance' is not defined

In [53]:
# Realizar una consulta para obtener los datos de BaseModel con sus Location asociados
results = session.query(Location).join(BaseModel).all()

# Convertir los resultados a esquemas Pydantic
#base_schemas = [BaseSchema.from_orm(base) for base in results]


# Mostrar los resultados estructurados
#results
#for base_schema in base_schemas:    print(base_schema.json(indent=2))

In [57]:
results[0].

'ESTACION MOTRIZ'

In [37]:
type(results[0])

__main__.BaseModel

In [36]:
c = 1


for row in results:
    print(row.json)
    if c == 10:
        break
    c+=1

#"results[0].location.location

ESTACION MOTRIZ
ESTACION MOTRIZ
ESTACION MOTRIZ
ESTACION MOTRIZ
ESTACION MOTRIZ
ESTACION MOTRIZ
ESTACION MOTRIZ
ESTACION MOTRIZ
ESTACION MOTRIZ
ESTACION MOTRIZ

In [26]:
#results[0].location.location

base_schemas = BaseSchema(results[0])
base_schemas

TypeError: BaseModel.__init__() takes 1 positional argument but 2 were given

In [313]:
c = 1
for row in results:
    print(BaseSchema.from_orm(row))
    
    if

C:\Users\mantenimiento\AppData\Local\Temp\ipykernel_12588\2122986565.py:2: PydanticDeprecatedSince20: The `from_orm` method is deprecated; set `model_config['from_attributes']=True` and use `model_validate` instead. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.5/migration/
  print(BaseSchema.from_orm(row))

In [269]:
df.dtypes

id                            int64
fk_structure                  int64
fk_asset                      int64
fk_location                 float64
fkc_priority                float64
created_by                    int64
updated_by                    int64
deleted_by                   object
created_at      datetime64[ns, UTC]
updated_at      datetime64[ns, UTC]
deleted_at      datetime64[ns, UTC]
fk_plan                     float64
dtype: object

In [257]:
len(df)

20308

In [8]:
# Realizar el merge de ambos planes en un solo dataframe
df_merged = pd.concat([df1,df2],ignore_index=True).reset_index(drop=True)
df_merged.to_csv("mix_plan.csv")

In [9]:
#gs1.process_data(filename="mix_plan.csv",valores=valores,regimen=regimen)
# Diccionarios originales
valores = {
    "D": 1,
    "S": 1,
    "2S": 2,
    "M": 5,
    "MC": 1,
    "2M": 2,
    "T": 3,
    "SE": 6,
    "8M": 8,
    "A": 1,
    "1.5A": 18,
    "2A": 2,
    "3A": 3,
    "4A": 4,
    "5A": 5,
    "6A": 6,
    "8A": 8,
    "10A": 10,
    "1000": 1000,
    "1300": 1300,
    "1800": 1800,
    "6000": 6000,
    "22500": 6000,
    "40000": 40000,
    "55000": 55000,
    "55000C": 55000
}

regimen = {
    "D": 'dia',
    "S": 'semana',
    "2S": 'semana',
    "M": 'semana',
    "MC": 'mes',
    "2M": 'mes',
    "T": 'mes',
    "SE": 'mes',
    "8M": 'mes',
    "A": 'Año',
    "1.5A": 'mes',
    "2A": 'Año',
    "3A": 'Año',
    "4A": 'Año',
    "5A": 'Año',
    "6A": 'Año',
    "8A": 'Año',
    "10A": 'Año',
    "1000": 'horas',
    "1300": 'horas',
    "1800": 'horas',
    "6000": 'horas',
    "22500": 'horas',
    "40000": 'horas',
    "55000": 'horas',
    "55000C": 'ciclos'
}
#df_merged.tail(5)

In [10]:
# https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html
import warnings

import ipywidgets as widgets
from ipywidgets import Button, Layout
from IPython.display import display

warnings.simplefilter(action='ignore', category=FutureWarning)

lad = widgets.Textarea(value='https://docs.google.com/spreadsheets/d/1oUHkuKpHtuhMirNW6SvAQ4A0ns5PZs71iZ_WFXZHNn8/edit?gid=1199302294',placeholder='Plan Maestro LAD',description='Lineas Alta Demanda:',disabled=False,layout=Layout(width='70%',height="200px"))
lbd = widgets.Textarea(value='https://docs.google.com/spreadsheets/d/1yOaSeqRBr1FW6tvFMi_Y-s4011cKBoyiWU5dTMlujrU/edit?gid=1199302294',placeholder='Plan Maestro LAD',description='Lineas Baja Demanda:',disabled=False,layout=Layout(width='70%',height="200px"))
host = widgets.Text(value='192.168.100.50',placeholder='Host',description='Host:',disabled=False)
basedatos = widgets.Text(value='simyo2',placeholder='BaseDatos',description='BaseDatos',disabled=False)
usuario = widgets.Text(value='mantto',description='Usuario')
password = widgets.Password(value='Sistemas0',description='Password')
button1 = widgets.Button(description="Generar Archivo Excel",button_style='success',layout=Layout(width='20%'))
button2 = widgets.Button(description="Cargar en Base de datos",button_style='danger',layout=Layout(width='20%'))
output = widgets.Output()
salida = widgets.Text(value="Salida.xlsx",description="Nombre:",disabled=False)
accordion = widgets.Accordion(children=[ salida], titles=(['Archivo Salida']))
accordion1 = widgets.Accordion(children=[ usuario,password,host,basedatos], titles=('Usuario','Password','Host','Base de Datos'))

display(lad,lbd,host,usuario,password,accordion,button1, accordion1,button2,output)

def on_button_clicked(b):    
    #print(f"Se hizo click: {usuario.value} ")
    gs1.save_to_excel("output/Salida.xlsx",valores=valores,regimen=regimen,filename="mix_plan.csv")

    with output:
        print("Se Genera archivo excel Salida.xlsx")

button1.on_click(on_button_clicked)
button2.on_click(lambda _: print("Boton 2 accionado"))
#https://ipywidgets.readthedocs.io/en/7.6.3/examples/Widget%20Styling.html

Textarea(value='https://docs.google.com/spreadsheets/d/1oUHkuKpHtuhMirNW6SvAQ4A0ns5PZs71iZ_WFXZHNn8/edit?gid=1…

Textarea(value='https://docs.google.com/spreadsheets/d/1yOaSeqRBr1FW6tvFMi_Y-s4011cKBoyiWU5dTMlujrU/edit?gid=1…

Text(value='192.168.100.50', description='Host:', placeholder='Host')

Text(value='mantto', description='Usuario')

Password(description='Password')

Accordion(children=(Text(value='Salida.xlsx', description='Nombre:'),), titles=('Archivo Salida',))

Button(button_style='success', description='Generar Archivo Excel', layout=Layout(width='20%'), style=ButtonSt…

Accordion(children=(Text(value='mantto', description='Usuario'), Password(description='Password'), Text(value=…

Button(button_style='danger', description='Cargar en Base de datos', layout=Layout(width='20%'), style=ButtonS…

Output()

{'D': 1, 'S': 1, '2S': 2, 'M': 5, 'MC': 1, '2M': 2, 'T': 3, 'SE': 6, '8M': 8, 'A': 1, '1.5A': 18, '2A': 2, '3A': 3, '4A': 4, '5A': 5, '6A': 6, '8A': 8, '10A': 10, '1000': 1000, '1300': 1300, '1800': 1800, '6000': 6000, '22500': 6000, '40000': 40000, '55000': 55000, '55000C': 55000}